<h1><%= @collage.Name %></h1>

<b>Tags:</b> <%= @collage.TagList %>

<table>
  <tr>
    <th>Artist</th>
    <th>Group Name</th>
  </tr>
  <% @collage.torrents.each do |torrent| %>
    <tr>
      <td><%= link_to torrent.first, "/artists/#{torrent[1]}" %></td>
      <td><%= torrent.last %></td>
    </tr>
  <% end %>
</table>
