<!DOCTYPE html>
<html>
  <head>
    <title>What.CD Browser</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href="/">Home</a>
    <%= yield %>
  </body>
</html>
